circleview-component {
  .circleview-container {
    display: inline-block;
    width: 70px;
    height: auto;
    margin: 10px 10px 10px;
    position: relative;
    //border: 1px solid map-get($colors, primary);
  }

  .circleview-text {
    color: map-get($colors, primary);
    font-size: small;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: inherit;
    float: left;
    clear: left;
    //border: 1px solid map-get($colors, primary);
  }

  .circleview-subtext {
    color: map-get($colors, primary);
    font-size: 90%;
    text-align: center;
    vertical-align: middle;
    width: inherit;
    float: left;
    clear: left;
  }

  .circleview-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    //border: 2px solid map-get($colors, primary);
  }

  .click-disabled {
    pointer-events: none;
  }

  .click-disabled .circleview-image {
    pointer-events: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }

  .favDisplay{
    position: absolute;
    left: -5px;
    top: 40px;
    font-size: 300%;
  }
}
