<ion-content>

  <div class="topic-header">
    <ion-navbar>
      <span class="topic-name">All Decks</span><br/>
      <span class="topic-description">Complete library</span>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="funnel"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-navbar>
      <div class="study-buttons">
        <button *ngIf="favoritesOnly" ion-button round color="light" (click)="studyDueCards()" [disabled]="!vocabProvider.getCardsToLearn().length > 0">
          <ion-icon name="calendar"></ion-icon>
        </button>
        <button *ngIf="favoritesOnly" ion-button round color="light" (click)="showAllCards()">
          <ion-icon name="book"></ion-icon>
        </button>
        <button *ngIf="favoritesOnly" ion-button round color="light" (click)="addMultipleVocsToBox()">
          <ion-icon name="cube"></ion-icon>
        </button>
        <button ion-button round color="light" (click)="addVocabulary(mock)" [disabled]="true">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ion-navbar>
  </div>

  <!-- <ion-list>
    <ion-item text-wrap *ngFor="let toggleBundle of toggleBundles">
      <ion-avatar item-start>
        <img src="assets/imgs/topic/topic.svg">
      </ion-avatar>
      <ion-label (click)="showTopicCardDecks(toggleBundle.bundle.id)">
        <span class="topic-name-entry">{{toggleBundle.bundle.name}}</span><br/> -->
  <!-- <span class="topic-description-entry">-1 of -2 topics in your box</span> -->
  <!-- </ion-label>
      <ion-toggle [(ngModel)]="toggleBundle.state" (ionChange)="saveToggleChange(toggleBundle)"></ion-toggle>
    </ion-item>
  </ion-list> -->

  <div *ngIf="!favoritesOnly" class="center-content">
    <circleview-component (click)="showTopicCardDecks(toggleBundle.bundle.id)" *ngFor="let toggleBundle of toggleBundles" [text]="toggleBundle.bundle.name" [subtext]="toggleBundle.state" image="assets/imgs/topic/topic.svg"></circleview-component>
  </div>
  <div *ngIf="favoritesOnly" class="center-content">
    <circleview-component (click)="showTopicCardDecks(toggleBundle.bundle.id)" (press)="press()" *ngFor="let toggleBundle of toggleBundles" [text]="toggleBundle.bundle.name" [subtext]="-1" image="assets/imgs/topic/topic.svg"></circleview-component>
  </div>

</ion-content>
