page-selectStudyPopover {

  .popoverBtn .circleview-container .circleview-subtext{
    // remove subtext for buttons
    width: 0px;
    height: 0px;
    border: 0px;
  }

  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .center-content {
    text-align: center;
    padding: 10vh 0;
  }

  .buttonIcon{

  }
}

