<ion-header>

  <ion-navbar>
    <ion-title *ngIf="mode=='levels'">Level {{level}}</ion-title>
    <ion-title *ngIf="mode=='topic'">{{topic}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="no-scroll center-content">

  <div *ngIf="mode=='topic'">
    <circleview-component class="popoverBtn" text="Show Cards" image="assets/imgs/topic/showVocList_icon_topics.svg" (click)="showTopicCardDeck(topic)" [disabled]="!(this.vocabProvider.getAllCardskForTopic(topic).length>0)"></circleview-component>
    <circleview-component class="popoverBtn" text="Study Cards" image="assets/imgs/topic/startStudy_icon_topics.svg" (click)="studyTopicCardDeck(topic)" [disabled]="!(this.vocabProvider.getCardDeckForTopic(topic).length>0)"></circleview-component>
    <circleview-component class="popoverBtn" *ngIf="vocabProvider.getTopicByName(topic).waitingCards.length < 1" text="Add Cards" image="assets/imgs/topic/addCards_icon_topics.png" (click)='addVocabulary(topic)'></circleview-component>
    <circleview-component class="popoverBtn" *ngIf="vocabProvider.getTopicByName(topic).waitingCards.length > 0" text="Add Cards" image="assets/imgs/topic/addCards_icon_topics.png" (click)='loadCsvToDict(topic)'></circleview-component>
  </div>

  <div *ngIf="mode=='levels'">
    <circleview-component class="popoverBtn" text="Show Cards" image="assets/imgs/level/showVocList_icon_levels.svg" (click)="showLevelCardDeck(level)" [disabled]="!(this.vocabProvider.getCardsByLevel(level-1).length>0)"></circleview-component>
    <circleview-component class="popoverBtn" text="Study Cards" image="assets/imgs/level/startStudy_icon_levels.svg" (click)="studyLevelCardDeck(level)" [disabled]="!(this.vocabProvider.getCardsByLevel(level-1).length>0)"></circleview-component>
  </div>

</ion-content>
