<div class="circleview-container">
  <img *ngIf="lang1_image" src="{{lang1_image}}" class="circleview-image-1">
  <img *ngIf="!lang1_image" src="assets/imgs/home/blank.svg" class="circleview-image-1">
  <!-- <div class="line"></div> -->
  <img *ngIf="lang2_image" src="{{lang2_image}}" class="circleview-image-2">
  <img *ngIf="!lang2_image" src="assets/imgs/home/blank.svg" class="circleview-image-2">
  <span class="circleview-text">{{lang1_text}}/{{lang2_text}}</span>
  <!--<span class="circleview-text-2">{{lang2_text}}</span>-->
</div>
