languageselect-component {

  .circleview-container {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 10px 10px 10px;
    position: relative;
    //border: 1px solid map-get($colors, primary);
  }

  .circleview-text {
    color: map-get($colors, primary);
    font-size: small;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: inherit;
    float: left;
    clear: left;
  }

  .circleview-image-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    left: 0;
    top: 0;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  }

  .circleview-image-2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    left: 0;
    top: 0;
    position: absolute;
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
  }
}
