page-memory {
  .circle-text {
    //   display: table-cell;
    //   height: 100%;
    //   /*change this and the width
    // for the size of your initial circle*/
    //   // width: 100%;
    //
    //   /*make it pretty*/
    //   background: #000;
    //   color: #fff;
    //   font: 18px "josefin sans", arial;
    //   /*change this
    // for font-size and font-family*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: map-get($colors, light);
    // text-align: center;
    // padding: 10%;
    display: flex;
    align-items: center;
    font-size: large;
  }

  .center-text{
    width: 100%;
    text-align: center;
  }

  .box {
    position: relative;
    // background: orange;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
  }

  .selected{
    background: #ff7400;
  }

  .notSelected{
    background: #02b9d2;
  }

  .center-content {
    text-align: center;
    padding: 16vh 0;
  }

}
