<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="repeatLevel">Repeating Level {{level}}</ion-title>
    <ion-title *ngIf="!repeatLevel">
      Learning
    </ion-title>
    <ion-buttons end>
        <img src={{getProgressImage(currentCard.level+1)}} alt="Level {{currentCard.level +1}}" height="40" width="40" class="levelIndicator">
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <!-- Vocabulary vocCard -->
  <div class="container">
    <div class="vocCard" (click)="flip()">
      <div class="front">
        <span id="frontCard">{{ frontCard }}</span>
      </div>
      <div class="back">
        <span id="backCard">{{ backCard }}</span>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <button class="hideBtn" (click)="showInputfield()">
    <ion-icon *ngIf="inputfieldVisible" name="arrow-dropdown"></ion-icon>
    <ion-icon *ngIf="!inputfieldVisible" name="arrow-dropup"></ion-icon>
  </button>
  <ion-toolbar>
    <!-- Space to enter answer -->
    <ion-row style="height: 90%;" *ngIf="inputfieldVisible">
      <ion-col>
        <div class="inputContainer">
          <h2>
            <ion-input id="myInput" text-wrap text-center placeholder="Type your answer here..." [(ngModel)]="myInput"></ion-input>
            <span id="solution" class="solutionSpace">&ensp;&ensp;</span>
          </h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <button id="unknown" ion-button color="danger" icon-start (click)="showVocab('unknown')" [disabled]="!seeBackside">
          <ion-icon name='close'></ion-icon>
          Wrong
        </button>
      </ion-col>
      <ion-col text-right>
        <button id="known" ion-button color="correct" icon-start (click)="showVocab('known')" [disabled]="!seeBackside">
          <ion-icon name='checkmark'></ion-icon>
          Correct
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
