page-studyPhase {
  .levelIndicator {
    // margin: 10px;
    float: right;
  }

  .hideBtn {
    float: right;
    background-color: map_get($colors, primary);
    color: white;
    width: 100%;
    font-size: large;
  }

  .inputContainer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    margin: 5px auto;
    border: 1pt solid map-get($colors, primary);
  }
  //BEGIN: Flip vocCards
  .container {
    width: 95%;
    height: 50%;
    position: relative;
    text-align: center;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    box-sizing: border-box;
  }

  .vocCard {
    width: 100%;
    height: 100%;
    position: absolute;
    //margin: auto;
    border-radius: 25px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    box-sizing: border-box;
  }

  .vocCard div {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 2px solid map-get($colors, third);
    line-height: 260px;
    color: map-get($colors, primary);
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
  }

  .vocCard span {
    //height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  .vocCard .front {}

  .vocCard .back {
    background-color: map-get($colors, third);
    color: white;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .vocCard.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  // counter
  .counterContainer {
    width: 70px;
    height: 55px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .curCounter {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    background-color: #94d4dd;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
  }

  .maxCounter {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    background-color: #146874;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50px;
  }

  .counterBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // padding: 10%;
    display: flex;
    align-items: center;
  }

  .counterText {

    color: map-get($colors, dark); // text-align: center;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 120%;
    align-items: center;
    text-align: center;
  }
}
