page-selectStudy {

  .studyBtn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: map-get($colors, primary);
    border: 2px solid map-get($colors, primary);
  }
}
