<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{language.shortName1}} / {{language.shortName2}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>

  <!-- For grammar user later on -->
  <!-- <div padding>
    <ion-segment [(ngModel)]="studyType">
      <ion-segment-button value="vocabulary">
        Vocabulary
      </ion-segment-button>
      <ion-segment-button value="grammar">
        Grammar
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <div [ngSwitch]="studyType">
    <div *ngSwitchCase="'vocabulary'">
      <ion-list no-lines *ngIf="language.topics.length > 0">
        <!-- <ion-item><button ion-button class="studyBtn" (click)="studyDueCards()">Study<br/>due cards</button></ion-item> -->
        <!-- <ion-item-divider>
          Study due cards
        </ion-item-divider> -->
        <ion-item class="center">
          <circleview-component text="Study" [subtext]="vocabProvider.getCardsToLearn().length" (click)="studyDueCards()"></circleview-component>
          <circleview-component text="Show all" (click)="showAllCards()"></circleview-component>
        </ion-item>
        <ion-item-divider>
          Topics
        </ion-item-divider>
        <ion-item>
          <horizontalscroll-component mode="topics" [items]="language.topics" (clickEvent)="presentTopicPopover($event)"></horizontalscroll-component>
        </ion-item>
        <ion-item-divider>
          Levels
        </ion-item-divider>
        <ion-item>
          <horizontalscroll-component mode="levels" (clickEvent)="presentLevelPopover($event)"></horizontalscroll-component>
        </ion-item>
      </ion-list>
      <ion-card *ngIf="language.topics.length == 0" id="titlecard" class="center-content headercard">

          <h1 class="headercolor">Unfortunately you do not have any topics to learn. </h1>
          <h2 class="headercolor">Just <button ion-button color="secondary" (click)="openManage()"><ion-icon class="button-icon" name="build"></ion-icon>add topics</button> to start learning!</h2>
      </ion-card>
    </div>

    <!-- <div *ngSwitchCase="'grammar'">
      <ion-list>
        <ion-item-divider>
          Study due cards
        </ion-item-divider>
        <ion-item class="center">
          <circleview-component text="Study" (click)="studyDueCards()"></circleview-component>
          <circleview-component text="Show all" (click)="showAllCards()"></circleview-component>
        </ion-item>
        <ion-item-divider>
          Topics
        </ion-item-divider>
        <ion-item>
          <horizontalscroll-component mode="topics" [items]="topics" (clickEvent)="presentTopicPopover($event)"></horizontalscroll-component>
        </ion-item>
        <ion-item-divider>
          Levels
        </ion-item-divider>
        <ion-item>
          <horizontalscroll-component mode="levels" (clickEvent)="presentLevelPopover($event)"></horizontalscroll-component>
        </ion-item>
      </ion-list>
    </div> -->
  </div>

  <!-- <ion-fab right bottom>
    <button ion-fab><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)='loadCsvToDict()'><ion-icon name="download" style="transform: rotate(180deg);"></ion-icon></button> <br/>
      <button ion-fab (click)="createCard();"><ion-icon name="add"></ion-icon></button>
      <button ion-fab color="danger" (click)='resetAll();'><ion-icon name="trash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->


  <ion-fab right bottom>
    <button ion-fab (click)="openManage()"><ion-icon name="build"></ion-icon></button>
  </ion-fab>

</ion-content>
