page-selectStudy {

  .studyBtn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: map-get($colors, primary);
    border: 2px solid map-get($colors, primary);
  }

  .center-content {
    text-align: center;
    padding: 20vh 0;
  }

  .headercard{
    padding: 10vh 0;
    margin-bottom: 20px;
  }

  .no-content-text {
    color: map-get($colors, primary);
    text-align: center;
    vertical-align: middle;
    width: inherit;
    background-color: #dcdcdc;
  }

  .no-content-image{
    width: 125px;
    height: 125px;
  }
}
