page-welcome {

  .myContent{
    margin-top: 55px;
    text-align: center;
    padding: 10px;
  }
  .title {
    font-weight: bold;
    font-size: xx-large;
  }

  .subtitle{
font-size: large;
  }

  .text {

  }

  .selection{
    margin-top: 20px;
  }

  .indicator{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 25px;
    text-align: center;
  }
}
