<ion-content>

  <div class="topic-header">
    <ion-navbar>
      <span class="topic-name">Bundle: {{curBundle.name}}</span><br/>
      <span class="topic-description">All topics from this deck</span>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="funnel"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-navbar>
      <div class="study-buttons">
        <button ion-button round color="light" [disabled]="true">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ion-navbar>
  </div>

  <!-- <ion-list>
    <ion-item text-wrap *ngFor="let toggleTopic of toggleTopics">
      <ion-avatar item-start>
        <img src="assets/imgs/topic/topic.svg">
      </ion-avatar>
      <ion-label (click)="showTopicCardDeck(toggleTopic.topic.id)">
        <span class="topic-name-entry">{{toggleTopic.topic.name}}</span><br/>
        <span class="topic-description-entry">{{toggleTopic.topic.cards.length}} of {{toggleTopic.topic.cards.length + toggleTopic.topic.waitingCards.length}} topics in your box</span>
      </ion-label>
      <ion-toggle [(ngModel)]="toggleTopic.state" (ionChange)="saveToggleChange(toggleTopic)"></ion-toggle>
    </ion-item>
  </ion-list> -->

  <div class="center-content">
    <circleview-component (click)="showTopicCardDeck(toggleTopic.topic.id)" (press)="press()" *ngFor="let toggleTopic of toggleTopics" [text]="toggleTopic.topic.name" [subtext]="toggleTopic.topic.cards.length +' of '+ (toggleTopic.topic.cards.length + toggleTopic.topic.waitingCards.length) +' topics in your box'" image="assets/imgs/topic/topic.svg"></circleview-component>
  </div>

</ion-content>
